<div class="container-fluid">
    <div class="row">
    <div class="col-lg-6 col-md-12 text-center ">
        <img class="center-block" src="assets/imgs/IMG_0358.PNG" />
    </div>
    <div class="col-lg-6 col-sm-12 center-block">
        <h1 class="mt-5 display-1"> Sobre Nosotros</h1>
        <p>Somos un servicio para rastrear peliculas y guardar lo que ya has visto 
            <br>nos llamamos monkeyware.
            <br><br>
        </p>
        <span class="display-6  ">Películas serias, nada de monadas</span>
    </div>
</div>
</div>